<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 引入外部 数据库 配置文件-->
    <properties resource="db.properties"></properties>

    <!-- 配置日志 -->
    <settings>
        <setting name="logImpl" value="LOG4J"/>

<!--        开启全局缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!-- 给javabean起别名 -->
    <typeAliases>
        <typeAlias alias="user" type="pojo.User"/>
        <typeAlias alias="teacher" type="pojo.Teacher"/>
        <typeAlias alias="student" type="pojo.Student"/>
    </typeAliases>

    <!-- 环境可以配置多个 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 注册mapper -->
    <mappers>

        <!--直接注册xml-->
        <mapper resource="mapper/studentMapper.xml"/>
        <mapper resource="mapper/teacherMapper.xml"/>
        <mapper resource="mapper/userMapper.xml"/>

        <!-- 通过类去绑定-->
<!--        <mapper class="dao.UserMapper"/>-->
    </mappers>
</configuration>
