<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.StudentMapper">

    <!-- 按照结果嵌套处理 连表查询-->
    <select id="selectStudentTeacher" resultMap="teacherStudetMap">
        select s.id, s.name sname, t.name tname from student as s left join teacher as t
        on s.tid = t.id
    </select>

    <!-- 按照结果嵌套处理 连表查询-->
    <resultMap id="teacherStudetMap" type="student">
        <result property="id" column="id"/>
        <result property="name" column="sname"/>
        <!-- 关联 assocation 多对一 -->
        <association property="teacher" javaType="Teacher">
            <result property="name" column="tname"/>
        </association>
    </resultMap>

    <!-- 子查询 -->
<!--    <select id="selectStudentTeacher" resultMap="teacherStudetMap">-->
<!--        select * from student-->
<!--    </select>-->

<!--    <resultMap id="teacherStudetMap" type="student">-->
<!--        <result property="id" column="id"/>-->
<!--        <result property="name" column="sname"/>-->
<!--        <association property="teacher" column="tid" javaType="Teacher" select="selectTeacher"/>-->
<!--    </resultMap>-->

<!--    <select id="selectTeacher" resultType="teacher">-->
<!--        select * from teacher where id = #{tid}-->
<!--    </select>-->

</mapper>
