<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 配置日志 -->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    <!-- 开启全局缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>


    <!-- 给javabean起别名 -->
    <typeAliases>
        <typeAlias alias="user" type="pojo.User"/>
        <typeAlias alias="teacher" type="pojo.Teacher"/>
    </typeAliases>


    <!--配置数据源 交给spring去做-->

    <!--注册mapper-->
    <mappers>
        <mapper resource="dao/BooksMapper.xml"/>
    </mappers>

</configuration>
